<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Cegah looping (infinite loop) yang menyebabkan 500 Internal Server Error
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
